.button {
  background-color: var(--black);
  font-family: var(--font-primary);
  font-size: var(--font-size-text);
  font-weight: 400;
  border-radius: 4px;
  padding: 5px 15px;
  height: auto;
  text-transform: none;
  border: none;
  color: var(--white);
  line-height: 1rem;
  letter-spacing: normal;
  margin: 0;
}

.button:hover {
  background-color: var(--ligth-black);
  border: none;
}

.button.is-primary {
  background-color: var(--black);
}

.button.is-primary:hover {
  background-color: var(--ligth-black);
}

.button.is-secondary {
  background-color: var(--grey);
}

.button.is-secondary:hover {
  background-color: #b7b5b5;
}

.button.is-ceremonial {
  background-color: var(--ceremonial);
  border-radius: 20px;
  color: var(--white);
  padding: 8px 30px;
}

.button.is-ceremonial:hover {
  background-color: #6ec44c;
}

.button.is-ending {
  background-color: var(--blue);
  border-radius: 20px;
  color: var(--white);
  padding: 8px 30px;
}

.button.is-ending:hover {
  background-color: #04a2f6;
}

.button.is-text {
  color: var(--grey);
  font-weight: bold;
  background-color: transparent;
}

.button.is-text:hover {
  color: #b7b5b5;
}

.button.is-link {
  color: var(--white);
  text-decoration: underline;
  background-color: transparent;
}

.button.is-link:hover {
  color: var(--white);
  background-color: transparent;
}

.button-report {
  background: none;
  position: relative;
  width: auto;
  height: auto;
  border: none;
  padding: 0;
  margin: 2rem;
}

.button-report img {
  display: block;
}

.button-report i {
  position: absolute;
}

.button-report .opacity-layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.button-report:hover .opacity-layer {
  background-color: rgba(0, 0, 0, 0.4);
}

.link-options {
  color: grey;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.link-options:hover {
  color: var(--white);
}
